html, body { height: 100% }

body{
	font: 62.5% "Lucida Grande", sans-serif;
	height: 100%;
}

#scraped-doc {
 margin-right:412px;
 position: relative;
}

#scraped-doc-iframe {
	background-color: clear;
    frameborder: 0;
	border-color: white;
	border-style: solid;
    padding: 0px;
	width: 100%;
}

#toolbar {
 float:right;
 width:400px;
 height:100%;
 min-height:200px;
 background-color:#DDD;
 z-index:300;
 box-shadow:0px 0px 4px 4px #999;
}

#annotations_container {
	padding:40px;
}

#annotation_name {
	background-color:#EEE;
	outline: 0;
	padding:4px;
	border-style: solid;
	border-color: #FCDDB1;
	border-width: 1px;
	color: #555;
	width:100%;
	font:1.3em Lucida Grande;
	margin-bottom:10px;
	box-shadow:inset 2px 2px 4px 0px #999;
}

.button {
	background-color:#777;
	color:#FCDDB1;
    border:1px solid #FCDDB1;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font:1.3em Lucida Grande;
    cursor:pointer;
	box-shadow:2px 2px 4px 0px #999;
}

.button.map-button {
	font:0.7em Lucida Grande;
	padding:2px 7px;
	margin-left: 15px;
}

.button.delete-button {
	padding: 2px 4px 2px 5px;
	float: right;
	vertical-align: middle;
	font:0.7em Lucida Grande;
}

.annotation {
	width:100%;
	background-color:#EEE;
	color:#555;
    border:1px solid white;
	margin-bottom:6px;
    cursor:pointer;
	box-shadow:2px 2px 4px 0px #999;
}

.annotation-internal {
	vertical-align: middle;
	margin:3px 6px 6px 6px;
	font:1.2em Lucida Grande;
}

#infocanvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events:none;
	z-index:20;
}

.elementpath {
	width: 100%;
	height: 150px;
	background-color: #AAA;
	color:#333;
	font:1.5em Lucida Grande, ‘Century Gothic’, AppleGothic, sans-serif;
	border:1px white;
}

#hoveredPath {
	font:1.3em Lucida Grande, ‘Century Gothic’, AppleGothic, sans-serif;
	min-width: 100px;
	padding:5px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(20, 20, 20, 0.7);
	color:white;
	z-index:100;
	box-shadow:0px 0px 3px 3px #444;
}

.elementAttributeName {
	word-wrap: break-word;
	font:1.2em Lucida Grande;
	color:#555;
	width:150px;
}

.elementAttributeValue {
	word-wrap: break-word;
	font:1em Lucida Grande;
	color:#777;
	margin-top: -7px;
}

.itemField {
	margin-left: 20px;
}

hr {
	color: #FEFEFE;
	background-color: #EEEEEE;
	height: 1px;
	border: 0;
}

h3 {
	color:#555;
	width: 100%;
	align: center;
}
