<div style="float:left;margin-top:2px" class="nav-container">
	{{#if capabilities.create_projects}}
		{{#wizard-box action="createProject" placeholder="Enter site URL"}}
			Start
		{{/wizard-box}}
	{{/if}}
</div>