<div style="margin:10px 0px 0px 10px">
	<h4>Items</h4>
	<div>
		<div class="scrolling-container" {{bind-attr style="full_box_style"}}>
			{{#each item in model}}
				{{edit-item item=item extractionTypes=extractionTypes addField='addField' deleteField='deleteField' delete='deleteItem'}}
		 	{{else}}
		 		<h4>No items have been defined yet.</h4>
		 	{{/each}}
		</div>
		<div class="button-spacer">
			{{#bs-button clicked="addItem" icon="fa fa-icon fa-plus" type="primary" size="sm"}}
				Item
			{{/bs-button}}
			{{#bs-button clicked="saveChanges" size="sm" icon="fa fa-icon fa-save" type="primary"}}
				Save changes
			{{/bs-button}}
			{{#bs-button clicked="undoChanges" size="sm" icon="fa fa-icon fa-reply" type="danger"}}
				Discard Changes
			{{/bs-button}}
		</div>
	</div>
</div>
