<h2>
    {{list-item-icon icon='sample'}}
    {{#list-item-text}}
        {{model.name}}
    {{/list-item-text}}
    {{#tooltip-container tooltipFor="sample-close-button" text="Close sample" tooltipContainer='body'}}
        {{#link-to 'projects.project.spider' id="sample-close-button"}}
            {{list-item-icon icon='close'}}
        {{/link-to}}
    {{/tooltip-container}}
</h2>
{{outlet 'sample-structure'}}
