.annotation-type-selector {
    color: $navbar-default-color;

    .btn {
        $tree-list-caret-padding-y: ($tree-list-row-height - $line-height-computed) / 2;
        height: $tree-list-row-height;
        margin: -$tree-list-caret-padding-y 0;
        padding: ($padding-base-vertical - $tree-list-caret-padding-y) $padding-base-horizontal;
    }

    > span > .caret {
        opacity: 0.15;
    }

    &:hover {
        .caret {
            opacity: 1;
        }
    }
}
