.browser-view-port {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

@keyframes flash-primary {
    from {
        box-shadow: inset 0 0 2px 2px rgba($brand-primary, 0);
    }

    50% {
        box-shadow: inset 0 0 2px 2px $brand-primary;
    }

    to {
        box-shadow: inset 0 0 2px 2px rgba($brand-primary, 0);
    }
}

@keyframes flash-success {
    from {
        box-shadow: inset 0 0 2px 2px rgba($brand-success, 0);
    }

    50% {
        box-shadow: inset 0 0 2px 2px $brand-success;
    }

    to {
        box-shadow: inset 0 0 2px 2px rgba($brand-success, 0);
    }
}

.mode-feedback {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    animation-duration: $animation-time * 2;
    animation-timing-function: $animation-easing;
}

.mode-feedback-navigation {
    animation-name: flash-primary;
}

.mode-feedback-annotation {
    animation-name: flash-success;
}

.tool-bar {
    $tool-padding: 8px;

    padding: $tool-padding;
    background-color: $navbar-default-bg;
    border-right: 1px solid $navbar-default-border;

    .btn-group-vertical {
        display: block;

        &:not(:last-child) {
            margin-bottom: $tool-padding;
        }
    }

    button {
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .color-fill {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: red;
        opacity: 0.5;
        z-index: -1;
    }
}

.frame-container {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    iframe {
        width: 100%;
        border: none;
        flex: 1 1 auto;
        overflow: auto;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.overlay-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: box-shadow $animation-time $animation-easing;
    z-index: 0;
}

.overlay-box-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.15;
    border-radius: 2px;
    transition: opacity ($animation-time / 2) $animation-easing-in, background-color $animation-time $animation-easing;
}

.overlay-icon {
    color: #fff;
    opacity: 0.8;
    z-index: 1;
    transition: opacity ($animation-time / 2) $animation-easing-in ($animation-time / 2), text-shadow $animation-time $animation-easing;

    &.hide {
        display: inline;
        opacity: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity ($animation-time / 2) $animation-easing-in;

    .group-hovered &,
    .group-selected &,
    .none-hovered.none-selected & {
        .overlay-box-background {
            opacity: 0.45;
        }
    }

    &.hovered,
    &.selected {
        .overlay-box-background {
            opacity: 0.8;
        }
    }

    &.hovered.mode-add {
        .overlay-box-background {
            opacity: 0.65;
        }
    }

    .browser-view-port:not(.none-selected) & {
        &.hovered.mode-edit {
            .overlay-box-background {
                opacity: 0.65;
            }
        }
    }

    //TODO: remove is-selection-mode
    .is-selection-mode:not(.group-selected) & {
        opacity: 0;
    }

    .is-selection-mode & {
        &.hovered {
            .overlay-box-background {
                opacity: 0.15;
            }
        }
    }

    &.hovered {
        z-index: 1;
    }

    &.selected {
        z-index: 2;
    }
}

.hover-overlay {
    z-index: 3;
    transition-property: opacity, transform, height, width;
    transition-duration: $animation-time, 100ms, 100ms, 100ms;
    transition-timing-function: $animation-easing, $animation-easing-out, $animation-easing-out, $animation-easing-out;

    &.hide {
        display: block !important;
        opacity: 0;
    }

    .overlay-box-background {
        opacity: 0.65;
    }
}
