.inspector {
    $inspector-line-padding-y: ($tree-list-row-height - $line-height-computed) / 2;
    min-height: $tree-list-row-height * 3 + $panel-padding-y * 2;
    overflow: hidden;

    table {
        width: 100%;
    }

    tr {
        cursor: pointer;
    }

    > div,
    td {
        padding: $inspector-line-padding-y 0;
    }

    td {
        vertical-align: top;
        color: $text-color;

        &:first-child {
            padding-right: $line-height-computed;
            color: $text-muted;
            white-space: nowrap;
        }

        &:last-child {
            position: relative;
            width: 100%;
        }

        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            > div {
                &:first-child {
                    flex: 1 1 auto;
                    position: relative;
                }

                &:last-child {
                    padding-left: $line-height-computed;
                }
            }
        }

        span {
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .structure-list-add {
        opacity: 1;
    }
}
