.inspector {
    $inspector-line-padding-y: ($tree-list-row-height - $line-height-computed) / 2;
    min-height: ($tree-list-row-height + $panel-padding-y) * 2;
    overflow: hidden;

    table {
        width: 100%;
    }

    > div,
    td {
        padding: $inspector-line-padding-y 0;
    }

    td {
        vertical-align: top;
        color: $text-color;

        &:first-child {
            padding-right: $line-height-computed;
            color: $text-muted;
            white-space: nowrap;
        }

        &:last-child {
            position: relative;
            width: 100%;
        }

        > span {
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
