.list-item-badge {
    display: inline-block;
    width: 26px;
    text-align: center;

    .badge {
        vertical-align: baseline;
        max-width: 26px;
        transition: background-color $animation-time $animation-easing;
    }

    .badge-centered {
        display: inline-block;
        margin: 0 -1000%;
        white-space: nowrap;
    }
}
