.list-item-text {
    display: inline;
    flex: 1 1 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.title {
        text-transform: uppercase;
    }
}
