.list-item-selectable-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;

    .caret {
        margin: 0 (($tree-list-icon-width - 8px) / 2);
        color: $navbar-default-color;
        opacity: $icon-fade-opacity;
    }

    a {
        &:hover {
            .caret {
                opacity: 1;
            }
        }
    }
}
