.regex-pattern-list {
    .new-pattern {
        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }

        i {
            width: $tree-list-row-height;
            flex: 0 0 $tree-list-row-height;
            height: $tree-list-row-height;
            line-height: $tree-list-row-height;
            text-align: center;
        }
    }
}
