.select-box {
    .btn-default {
        background-color: $input-bg !important;
    }

    &.open {
        .btn-default {
            border-color: $input-border-focus !important;
        }
    }
}

.select-box-menu {
    .icon {
        display: inline-block;
        width: $tree-list-icon-width;
        height: $line-height-computed;
        margin-right: 10px;
        line-height: $line-height-computed;
        text-align: center;
        vertical-align: middle;
    }

    [data-ember-action] {
        cursor: pointer;
    }
}
