#side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    order: 1;
    width: 365px;
    height: calc(100vh - #{$navbar-height});
    background-color: $navbar-default-bg;
    border-left: 1px solid $navbar-default-border;

    &:after {
        content: '';
        flex: 0.0000001 1 auto;
        background-color: $panel-bg;
    }
}
