.structure-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.structure-list-item-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 0;
    min-width: 0;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.structure-list-icon,
.structure-list-details,
.structure-list-add,
.structure-list-remove {
    flex: 0 0 $tree-list-icon-width;
    line-height: inherit;
    text-align: center;

    opacity: $icon-fade-opacity;
    transition: opacity $animation-time $animation-easing, color $animation-time $animation-easing;
}

.structure-list-icon,
.structure-list-details {
    pointer-events: none;
    color: $navbar-default-color;
}

.structure-list-icon {
    opacity: 1;
    height: $tree-list-row-height;
    line-height: $tree-list-row-height;
}

.structure-list-details {
    .active:not(.child-active) & {
        opacity: 1;
    }
}

.structure-list-add {
    color: $brand-success;
}

.structure-list-remove {
    color: $brand-danger;
}

.structure-list-add,
.structure-list-remove {
    cursor: pointer;

    &:hover:not(.disabled) {
        opacity: 1;
    }

    &.disabled {
        color: $navbar-default-color;
        cursor: not-allowed;
    }
}

.text-content {
    .structure-list-item-content {
        display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 $space-width;
    }
}

.structure-list-item-content {
    > .list-item-editable {
        margin-left: $space-width;
        min-width: 0;
        flex: 1 1 auto;
    }

    > .list-item-selectable {
        flex: 0 1 auto;
        min-width: 0;
        margin-left: $space-width;

        &:not(:first-child) {
            margin-left: $line-height-computed;
        }
    }
}
