.tooltip-content {
    @extend .tooltip-inner;

    > p {
        margin: ($line-height-computed / 2) 0 0;
        text-align: left;

        &.first {
            margin-top: 0;
        }
    }

    em {
        font-style: normal;
        text-decoration: underline;
    }
}
