.tree-list {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 0;

    > .tree-list-item {
        display: block;

        > .tree-list {
            position: static;
            padding-left: $tree-list-icon-width / 2;
            list-style: none;
            z-index: auto;
        }
    }
}

.tree-list-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: $tree-list-row-height;

    &:before {
        content: '';
        display: block;
        position: absolute;
        height: $tree-list-row-height;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: $navbar-default-link-active-bg;
        opacity: 0;
        transition: opacity $animation-time $animation-easing;
    }

    .active:not(.child-active) > &,
    .collapsed.child-active > & {
        &:before {
            opacity: 1;
        }
    }
}

.tree-list-item-content {
    flex: 1 1 auto;
    min-width: 0;
    color: $navbar-default-color;

    a {
        display: block;
        outline: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.tree-list-collapse {
    display: block;
    flex: 0 0 $tree-list-icon-width;
    opacity: 0.21;  // = color: $nav-tabs-border-color
    transition: opacity $animation-time $animation-easing;
    text-align: center;

    &,
    &:hover,
    &:focus {
        color: $gray-light;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    .caret {
        margin: 0 1px;
        transition: transform $animation-time $animation-easing;
    }

    &:not(.tree-list-no-children) {
        cursor: pointer !important;
    }
}

.tree-list-item {
    &.collapsed {
        .tree-list-collapse {
            .caret {
                transform: rotate(-90deg);
            }
        }
    }
}
