html, body { height: 100% }

body{
	font: 71% "Verdana", sans-serif;
	height: 100%;
	overflow: hidden;
	color: #111;
}

#scraped-doc {
	top: 30px;
	position:relative;
	margin-right: 30px;
}

#scraped-doc-iframe {
	background-color: clear;
	border-style: none;
	width: 100%;
	height: 50%;
	position:absolute;
}

#toolbox {
	overflow: hidden;
	margin-top:35px;
	float: right;
	width: 400px;
	margin-right: -365px;
	height: 100%;
	min-height: 200px;
	z-index: 300;
}

#topbar {
	width: 100%;
	height: 30px;
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1.0);
	background-color: white;
}

#title {
	margin: 10px 0px 10px 0px;
	padding: 2px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	background-image: -webkit-linear-gradient(top, #A81317 0%, #880910 100%);
	background-image: -moz-linear-gradient(top, #A81317 0%, #880910 100%);
}

#loader-container {
	position:absolute;
	top:350px;
	left:50%;
	z-index: 30;
}

#create-project-box {
	padding:2px 10px 14px 10px;
	margin:12px 6px 6px 6px;
}

#hovered-element-info {
	font: 1.0em Verdana,Helvetica,Arial,sans-serif;
	color:white;
	padding: 8px;
	float: left;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.8);
	margin-right: 15px;
	display: none;
	pointer-events:all;
}

#hovered-element-info .path {
	font-weight:bold;
	color:orange;
}

#hovered-element-info button {
	float:right;
	margin: -3px -3px 0px 5px;
}

.button-shadow {
	/*box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);*/
}

.editable-name {
	font: bold 1.0em Verdana,Helvetica,Arial,sans-serif;
    cursor: pointer;
    color: #6F92BF;
}

.editable-name:hover {
	color: orange;
}

#toolbox .container {
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#toolbox .section {
	margin:10px 0px 10px 5px;
}

.scrolling-container {
	overflow: auto;
	max-height: 300px;
	margin-top: 10px;
}

.textfield {
	border-width: 1px;
	margin-top: 0px;
	border-style: solid;
	border-color: #AAA;
	text-align: center;
	color: #111;
	background-color: #FFF;
	padding: 4px;
}

.big {
	font-size: 1.1em !important;
}

.inline-textfield {
	border-style: none;
	text-align: center;
	padding: 2px;
}

.doc-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

.highlighted-item {
	padding: 5px 0px 5px 0px;
	background-color: rgba(255,250,240,0.2);
	border-style: solid;
	border-width: 1px;
	border-color: orange;
}

.element-attribute-view {
	word-wrap: break-word;
}

.element-attribute-view .name {
	color: orange;
}

.element-attribute-view .value {
	color: #53D1ED;
}

.element-attribute-view .item {
	color: #53D1ED;
	font-weight: bold;
}

.drop-target {
}

.drop-target .target {
	padding: 4px;
	color: #666;
}

.drop-target-dragging .target {
	color: orange;
}

.extractor-view {
	width: 75%;
	background-color: #FFF;
	padding: 5px 10px 5px 10px;
	border-style: dotted;
	border-width: 1px;
	border-color: #AAA;
}

.regular_expression {
	color: orange;
}

.type_extractor {
	color: cyan;
}

.small-label {
	font-size: 0.9em;
	color: #888;
}

.very-small-label {
	font-size: 0.7em;
	color: #AAA;
}

.attribute-select {
	width: 115px;
	margin: 2px 5px 0px 5px;
}

.field-select {
	width: 115px;
	margin: 2px 0px 0px 0px;
}

.annotation-widget {
	margin:7px 0px 7px 0px;
	padding: 4px 0px 4px 4px;
	border: dotted 1px #CCC;
	min-height: 24px;
}

.annotation-widget:hover {
	border-color: orange;
}

.annotation-widget:hover div {
    display: block;
}

.in-doc {
	padding: 4px 4px 8px 8px;
	position: fixed;
	z-index: 100000;
	background-color: rgba(0,0,0,0.8);
	width: 252px;
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.8);
	border: none;
}

.attribute-value {
	margin:4px;
	padding:4px;
	color:#555;
	display: none;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.important-label {
	color:#777;
	font: bold 1.1em Verdana,Helvetica,Arial,sans-serif;
}

.small-label {
	color:#777;
	font: bold 1.0em Verdana,Helvetica,Arial,sans-serif;
}

hr {
	background-color: #BBB;
	height: 1px;
	margin: 10px 0px 30px 0px;
	
	border-style: none;
	
	width:100%;
}

h3  {
	color:#111;
	align: center;
	font: 1em Verdana,Helvetica,Arial,sans-serif;
}

h4 {
	margin:0px;
	color:#777;
	font: bold 1.1em Verdana,Helvetica,Arial,sans-serif;
}

h5 {
	margin:0px;
	color:#999;
	font: 1em Verdana,Helvetica,Arial,sans-serif;
}

td {
	padding:2px 4px 2px 4px;
}

div > * {
   vertical-align: middle;
}

a {
	color: #0062B9;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

a:hover {
	color: orange;
	text-decoration: underline;
}

.ui-button {
	background: #999;
	border-color: #FFF;
}

.ui-button:hover {
	background: #AAA;
}

.ui-button.black-button {
	background: #222;
	border-color: #000;
}

.ui-button.black-button:hover {
	background: #333;
	border-color: #111;
}

.ui-button.orange-button {
	background: #FF7700;
	border-color: #FFFFFF;
}

.ui-button.red-button {
	background: #9C5454;
	border-color: #9C5454;
}

.ui-button.red-button:hover {
	background: #FF0000;
}

.ui-button.dark-button {
	background: #555;
	border-color: #FFF;
}

.ui-button.green-button {
	background: #588559;
	border-color: #FFF;
}

.ui-button.green-button:hover {
	background: #4EAD51;
}

.ui-button.blue-button {
	background: #0D5B9C;
	border-color: #0D5B9C;
}

.ui-button.blue-button:hover {
	background: #2295CE;
}

.ui-button.light-button {
	background: #999;
	border-color: #FFF;
	color: #FFF;
}

.ui-button.light-button:hover {
	background: #AAA;
}

.ui-button.clear-button {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0.2);
	border-style: dotted;
	color: #6F92BF;
}

.ui-button.clear-button:hover {
	color: orange;
}

.ui-button.pin-button {
	background: #888;
	border-color: #888;
}

.ui-button.big {
	font-size:1.2em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em 1em 0.3em 1em;
	font: 1.0em Verdana,Helvetica,Arial,sans-serif !important;
	width: 300px;
}

.variantBox .custom-combobox-input {
	width: 140px;
}

.ui-state-focus { outline: none; }

.ui-accordion .ui-accordion-content {
	padding: 0.5em 0.5em 1em 0.5em;
	margin-bottom: 5px;
}

.ui-accordion .ui-accordion-header {
	text-align: left;
	font: bold 1.1em Verdana,Helvetica,Arial,sans-serif !important;
}

.ui-autocomplete .ui-menu-item {
	color: red;
	font: 1em Verdana,Helvetica,Arial,sans-serif !important;
}

.textless-button .ui-button-text {
	padding: 14px 24px 8px 4px !important;
}

.rightIcon .ui-button-icon-primary { left: auto; right: 0.5em; }
.rightIcon .ui-button-text { padding-left: 1em; padding-right: 2.1em; }

