html, body { height: 100% }

body{
	font: 62.5% "Trebuchet MS", sans-serif;
	height: 100%;
}

#scraped-doc {
	margin-right:412px;
	position: relative;
}

#scraped-doc-iframe {
	background-color: clear;
    frameborder: 0;
	border-color: white;
	border-style: solid;
    padding: 0px;
	width: 100%;
	scrolling: yes;
	overflow-y: scroll;
}

#toolbar {
	float:right;
	width:400px;
	height:100%;
	min-height:200px;
	background-color:rgba(248, 251, 255, 1);
	z-index:300;
	box-shadow:0px 0px 8px 1px rgba(0,0,0,0.2);
}

#navigationbar {
	margin:0px 10px 10px 10px;
	padding: 8px;
	background-color:rgba(245, 248, 250, 1);
	color:#2779aa;
	border-color: #aed0ea;
	border-style:solid;
	border-width: 1px;
	font: 1.3em Trebuchet MS,Helvetica,Arial,sans-serif;
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.1);
}

.controlShadow {
	box-shadow:0px 0px 4px 1px rgba(0,0,0,0.1);
}

.activeControlShadow {
	border-color: orange;
	color:orange;
	box-shadow:0px 0px 4px 1px rgba(0,0,0,0.3) inset !important;
}

.navRoute {
	cursor: pointer;
	text-decoration: underline;
}

#toolbar-container {
	padding:5px 0px 10px 0px;
	margin:10px 10px 10px 10px;
	border-color: #aed0ea;
	border-style:solid;
	border-width: 1px;
	background-color:rgba(245, 248, 250, 1);
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.1);
}

.scrolling-container {
	overflow: auto;
	padding:10px 0px 10px 0px;
	max-height: 300px;
	margin:6px;
	border-color: #aed0ea;
	border-style:dotted;
	border-width: 1px;
	background-color:rgba(252, 252, 255, 1);
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.1) inset;
}

#pageUrl {
	width: 80%;
	margin-bottom: 20px;
	padding: 5px 0px 5px 0px;
}

.textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #2779aa;
	text-align: center;
	color:#2779aa;
	padding: 3px 2px 3px 2px;
	font: 1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.mediumtextarea {
	border-width: 1px;
	margin-top:0px;
	border-style: solid;
	border-color: #aed0ea;;
	text-align: center;
	color:#2779aa;
	padding: 4px;
	box-shadow:0px 0px 4px 1px rgba(0,0,0,0.1) inset;
	font: 1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#pageUrlLabel {
	width: 100%;
	margin-bottom: 5px;
	background-color: clear;
	text-align: center;
	color: #2779aa;
	font: 1.2em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#goButton {
	font: 1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#mapButton {
	font: 0.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#infocanvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 20;
}

.elementpath {
	width: 100%;
	height: 150px;
	background-color: #AAA;
	color:#333;
	font:1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
	border:1px white;
}

#hoveredInfo {
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
	min-width: 100px;
	padding:8px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(248, 251, 255, 0.85);
	color:#2779aa;
	z-index:100;
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.2);
	pointer-events:none;
	display: none;
}

.hoveredInfoLine {
	margin-bottom:4px;
}

.hoveredPathLine {
	font-weight:bold;
	color:orange;
}

.elementAttributeName {
	word-wrap: break-word;
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:orange;
}

.elementAttributeValue {
	word-wrap: break-word;
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#2779aa;
	margin-top: 0px;
}

.uniquePath {
	word-wrap: break-word;
	font:0.9em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#777;
	margin-bottom: 20px;
}

.itemField {
	margin-left: 20px;
}

.mapping {
	font:1.3em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#444;
}


hr {
	color: #FEFEFE;
	background-color: #aed0ea;
	height: 1px;
	margin: 10px 0px 10px 0px;
	border: 0;
	width:100%;
}

h3  {
	color:#2779aa;
	width: 100%;
	align: center;
}

.smallLabel {
	color:#2779aa;
	font:0.8em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.mediumLabel {
	color:#2779aa;
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.bigLabel {
	color:#2779aa;
	font:bold 1.2em Trebuchet MS,Helvetica,Arial,sans-serif;
}

h4 {
	margin:0px;
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#aed0ea;
	width: 100%;
	align: center;
}

td {
	padding:2px;
}

input[type="checkbox"] {
	width:20px;
	height:20px;
	margin:4px 0px 0px 0px;
	padding:0px;
}

div > * {
   vertical-align: middle;
}

.ui-state-focus { outline: none; }
