html, body { height: 100% }

body{
	font: 62.5% "Verdana", sans-serif;
	height: 100%;
	overflow-x: hidden;
	color: #eaebda;
}

#scraped-doc {
	margin-right: 412px;
	position: relative;
}

#scraped-doc-iframe {
	background-color: clear;
    frameborder: 0;
	border-style: none;
    padding: 0px;
	width: 100%;
	height: 100%;
	scrolling: yes;
	overflow-y: scroll;
}

#toolbar {
	float: right;
	width: 400px;
	height: 100%;
	min-height: 200px;
	background-image: -webkit-linear-gradient(top, #333 0%, #555 100%);
	background-image: -moz-linear-gradient(top, #333 0%, #555 100%);
	z-index: 300;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.5);
}

#title {
	margin: 10px 0px 10px 0px;
	padding: 2px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	background-image: -webkit-linear-gradient(top, #A81317 0%, #880910 100%);
	background-image: -moz-linear-gradient(top, #A81317 0%, #880910 100%);
}

#loader-container {
	position:absolute;
	top:50%;
	left:50%;
	z-index: 30;
	background-color: rgba(255,0,0,0.2);
}

#page-browser {
	display:inline;
	min-height: 78px;
	width: 12px;
	position: absolute;
	right: 400px;
	top: 0px;
	z-index: 1000;
	box-shadow: -3px 4px 7px 0px rgba(0,0,0,0.45);
	padding: 5px 3px 3px 3px;
	border: 1px solid #444;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	background-image: -webkit-linear-gradient(left, #555 0%, #333 100%);
	background-image: -moz-linear-gradient(left, #555 0%, #333 100%);
}

#page-browser .title {
	float: left;
	width: 72px;
	height: 15px;
	background-color: #222;
	text-align: center;
	margin: 28px 0px 0px -31px;
	pointer-events: none;
}

#hovered-element-info {
	font: 1.1em Verdana,Helvetica,Arial,sans-serif;
	min-width: 100px;
	padding: 8px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(30,30,30,0.6);
	z-index: 100;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
	pointer-events: none;
	display: none;
}

#hovered-element-info .attribute {
	margin-bottom:4px;
}

#hovered-element-info .path {
	font-weight:bold;
	color:orange;
}

.button-shadow {
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.3);
}

.editable-name {
	align: center;
	font: 1.1em Verdana,Helvetica,Arial,sans-serif;
	border: 1px solid #535353;
	background-color: #3A3A3A;
    text-decoration: none;
    padding: 4px;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3);
}

.editable-name:hover {
	color: orange;
}

#toolbar .container {
	text-align: center;
	padding: 0px 0px 10px 0px;
	margin: 0px 10px 10px 10px;
}

.scrolling-container {
	overflow: auto;
	padding: 10px 0px 10px 0px;
	max-height: 300px;
	margin: 6px;
	border-color: #242424;
	border-style: solid;
	border-width: 1px;
	background-color: #333;
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3) inset;
}

.textfield {
	border-width: 1px;
	margin-top: 0px;
	border-style: solid;
	border-color: #636363;
	text-align: center;
	color: #222;
	background-color: #eaebda;
	padding: 4px;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3) inset;
}

.inline-textfield {
	border-width: 1px;
	margin-top: 11px;
	margin-bottom: 1px;
	border-style: solid;
	border-color: #5A5A5A;
	text-align: center;
	color:orange;
	background-color: #252525;
	padding: 4px;
	width: 100%;
}

.doc-canvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

.element-attribute-view {
	word-wrap: break-word;
}

.element-attribute-view .name {
	color: orange;
}

.element-attribute-view .value {
	color: #53D1ED;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}


hr {
	background-color: #636363;
	height: 1px;
	margin: 10px 0px 10px 0px;
	border: 0;
	width:100%;
}

h3  {
	color:#eaebda;
	align: center;
	font: 1.1em Verdana,Helvetica,Arial,sans-serif;
}

h4 {
	margin:0px;
	color:#eaebda;
	align: center;
	font: 1.0em Verdana,Helvetica,Arial,sans-serif;
}

h5 {
	margin:0px;
	color:#dadbca;
	align: center;
	font: 0.9em Verdana,Helvetica,Arial,sans-serif;
}

td {
	padding:2px 0px 2px 0px;
}

input[type="checkbox"] {
	width:20px;
	height:20px;
	margin:4px 0px 0px 0px;
	padding:0px;
}

div > * {
   vertical-align: middle;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	align: center;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0.1;
	height: 1.8em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em 1em 0.3em 1em;
	font: 1.0emVerdana,Helvetica,Arial,sans-serif !important;
	width: 300px;
}

.variantBox .custom-combobox-input {
	width: 140px;
}

.typeBox .custom-combobox {
	margin: -1px 20px 0px 6px;
}

.typeBox .custom-combobox-input {
	width: 56px;
}

.ui-state-focus { outline: none; }

.ui-accordion .ui-accordion-content {
	padding: 0.5em 0.5em 1em 0.5em;
	margin-bottom: 5px;
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.3);
}

.ui-accordion .ui-accordion-header {
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.3);
	margin-top: 5px;
}

.ui-autocomplete .ui-menu-item {
	color: red;
	font: 1em Verdana,Helvetica,Arial,sans-serif !important;
}

.textless-button .ui-button-text {
	padding: 16px 20px 6px 6px !important;
}

.rightIcon .ui-button-icon-primary { left: auto; right: 0.5em; }
.rightIcon .ui-button-text { padding-left: 1em; padding-right: 2.1em; }
