html, body { height: 100% }

body{
	font: 62.5% "Trebuchet MS", sans-serif;
	height: 100%;
}

#scraped-doc {
 margin-right:412px;
 position: relative;
}

#scraped-doc-iframe {
	background-color: clear;
    frameborder: 0;
	border-color: white;
	border-style: solid;
    padding: 0px;
	width: 100%;
	scrolling: yes;
	overflow-y: scroll;
}

#toolbar {
 float:right;
 width:400px;
 height:100%;
 min-height:200px;
 background-color:rgba(248, 251, 255, 1);
 z-index:300;
 box-shadow:0px 0px 4px 4px rgba(0,0,0,0.3);
}


#tab-navigator {
 display: block;
 margin: 5px;
}


#toolbar-container {
	padding:10px 0px 10px 0px;
	margin:10px 10px 10px 10px;
	border-color: #aed0ea;
	border-style:dotted;
	border-width: 1px;
	background-color:rgba(245, 248, 250, 1);
}

#pageUrl {
	width: 80%;
	margin-bottom: 20px;
	padding: 5px 0px 5px 0px;
}

.textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #2779aa;
	text-align: center;
	color:#2779aa;
	padding: 3px 2px 3px 2px;
	font: 1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.mediumtextarea {
	border-width: 1px;
	border-style: solid;
	border-color: #2779aa;
	text-align: center;
	color:#2779aa;
	padding: 2px;
	font: 1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.smalltextarea {
	border-width: 1px;
	border-style: solid;
	border-color: #2779aa;
	text-align: center;
	color:#2779aa;
	padding: 1px;
	font: 1em Trebuchet MS,Helvetica,Arial,sans-serif;
}

.smallbutton {
	padding: 0.1em;
	font: 0.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}


#pageUrlLabel {
	width: 100%;
	margin-bottom: 5px;
	background-color: clear;
	text-align: center;
	color: #2779aa;
	font: 1.2em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#goButton {
	font: 1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#mapButton {
	font: 0.5em Trebuchet MS,Helvetica,Arial,sans-serif;
}

#infocanvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 20;
}

.elementpath {
	width: 100%;
	height: 150px;
	background-color: #AAA;
	color:#333;
	font:1.5em Trebuchet MS,Helvetica,Arial,sans-serif;
	border:1px white;
}

#hoveredInfo {
	font:1em Trebuchet MS,Helvetica,Arial,sans-serif;
	min-width: 100px;
	padding:5px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	color:#FCDDB1;
	z-index:100;
	box-shadow:0px 0px 4px 4px rgba(0,0,0,0.3);
	pointer-events:none;
	display: none;
}

.hoveredInfoLine {
	margin-bottom:4px;
}

.elementAttributeName {
	word-wrap: break-word;
	font:1.3em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#2779aa;
}

.elementAttributeValue {
	word-wrap: break-word;
	font:1em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#777;
	margin-top: 0px;
}

.uniquePath {
	word-wrap: break-word;
	font:0.9em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#777;
	margin-bottom: 20px;
}

.itemField {
	margin-left: 20px;
}

.mapping {
	font:1.3em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#444;
}


hr {
	color: #FEFEFE;
	background-color: #aed0ea;
	height: 1px;
	margin: 15px 0px 15px 0px;
	border: 0;
	width:100%;
}

h3 {
	color:#2779aa;
	width: 100%;
	align: center;
}

h4 {
	margin:0px;
	font:1.1em Trebuchet MS,Helvetica,Arial,sans-serif;
	color:#aed0ea;
	width: 100%;
	align: center;
}

td {
	padding:3px;
}

input[type="checkbox"] {
	width:20px;
	height:20px;
	margin:4px 0px 0px 0px;
	padding:0px;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { margin-top: -9px; }
.ui-button-icon-only .ui-icon {margin-left: -9px;}

