html, body { height: 100% }

body{
	font: 62.5% "Verdana", sans-serif;
	height: 100%;
	overflow-x:hidden;
}

#scraped-doc {
	margin-right:412px;
	position: relative;
}

#scraped-doc-iframe {
	background-color: clear;
    frameborder: 0;
	border-color: white;
	border-style: solid;
    padding: 0px;
	width: 100%;
	scrolling: yes;
	overflow-y: scroll;
}

#toolbar {
	float:right;
	width:400px;
	height:100%;
	min-height:200px;
	background-image: -webkit-linear-gradient(top, #333 0%, #555 100%);
	background-image: -moz-linear-gradient(top, #333 0%, #555 100%);
	z-index:300;
	box-shadow:0px 0px 8px 1px rgba(0,0,0,0.5);
}

#title {
	margin:10px 0px 10px 0px;
	padding:2px;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.5);
	background-image: -webkit-linear-gradient(top, #A81317 0%, #880910 100%);
	background-image: -moz-linear-gradient(top, #A81317 0%, #880910 100%);
}

.controlShadow {
	box-shadow:0px 0px 8px 1px rgba(0,0,0,0.3);
}

.navRoute {
	cursor: pointer;
	text-decoration: underline;
}

.toolbar-container-noborder {
	text-align:center;
	padding:0px 0px 10px 0px;
	margin:0px 10px 10px 10px;
}

.nonscrolling-container {
	margin:0px 10px 10px 10px;
	padding: 8px;
	border-color: #636363;
	border-style:solid;
	border-width: 1px;
	background-color:#4A4A4A;
	box-shadow:0px 0px 12px 1px rgba(0,0,0,0.3) inset;
	text-align: center;
}

.scrolling-container {
	overflow: auto;
	padding:10px 0px 10px 0px;
	max-height: 300px;
	margin:6px;
	border-color: #242424;
	border-style: solid;
	border-width: 1px;
	background-color:#333;
	box-shadow:0px 0px 12px 1px rgba(0,0,0,0.3) inset;
}

.pathBox {
	padding:10px 8px 10px 8px;
	max-height: 300px;
	text-align: left;
	margin:6px;
	border-color: #242424;
	border-style: solid;
	border-width: 1px;
	background-color:#333;
	box-shadow:0px 0px 12px 1px rgba(0,0,0,0.3) inset;	
}

#pageUrl {
	width: 80%;
	margin-bottom: 20px;
	padding: 5px 0px 5px 0px;
}

.mediumtextarea {
	border-width: 1px;
	margin-top:0px;
	border-style: solid;
	border-color: ##636363;
	text-align: center;
	color:#222;
	background-color:#eaebda;
	padding: 4px;
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.2) inset;
	font: 1.0em Verdana,Helvetica,Arial,sans-serif;
}

#pageUrlLabel {
	width: 100%;
	margin-bottom: 5px;
	background-color: clear;
	text-align: center;
	color: #2779aa;
	font: 1.2em Verdana,Helvetica,Arial,sans-serif;
}

#goButton {
	font: 1.5em Verdana,Helvetica,Arial,sans-serif;
}

#mapButton {
	font: 0.5em Verdana,Helvetica,Arial,sans-serif;
}

#infocanvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 20;
}

#crawlcanvas {
	width: 100%;
	height: 100%;
	background-color: clear;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 100;
}

#loaderContainer {
	position:absolute;
	top:50%;
	left:50%;
	z-index: 30;
	background-color: rgba(255,0,0,0.2);
}


.elementpath {
	width: 100%;
	height: 150px;
	background-color: #AAA;
	color:#333;
	font:1.5em Verdana,Helvetica,Arial,sans-serif;
	border:1px white;
}

#hoveredInfo {
	font:1.1em Verdana,Helvetica,Arial,sans-serif;
	min-width: 100px;
	padding:8px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(248, 251, 255, 0.85);
	color:#2779aa;
	z-index:100;
	box-shadow:0px 0px 6px 1px rgba(0,0,0,0.2);
	pointer-events:none;
	display: none;
}

.hoveredInfoLine {
	margin-bottom:4px;
}

.hoveredPathLine {
	font-weight:bold;
	color:orange;
}

.elementAttributeName {
	word-wrap: break-word;
	font:1.1em Verdana,Helvetica,Arial,sans-serif;
	color:orange;
}

.elementAttributeValue {
	word-wrap: break-word;
	font:1.1em Verdana,Helvetica,Arial,sans-serif;
	color:###636363;
	margin-top: 0px;
}

.uniquePath {
	word-wrap: break-word;
	font:0.9em Verdana,Helvetica,Arial,sans-serif;
	color:#777;
	margin-bottom: 20px;
}

.itemField {
	margin-left: 20px;
}

.mapping {
	font:1.3em Verdana,Helvetica,Arial,sans-serif;
	color:#444;
}


hr {
	color: #FEFEFE;
	background-color: #636363;
	height: 1px;
	margin: 10px 0px 10px 0px;
	border: 0;
	width:100%;
}

h3  {
	color:#aed0ea;
	align: center;
	font: 1.1em Verdana,Helvetica,Arial,sans-serif;
}

.smallLabel {
	color:#eaebda;
	font:0.8em Verdana,Helvetica,Arial,sans-serif;
}

.mediumLabel {
	color:#eaebda;
}

.bigLabel {
	color:#eaebda;
	font:bold 1.2em Verdana,Helvetica,Arial,sans-serif;
}

h4 {
	margin:0px;
	color:#eaebda;
	align: center;
	font: 1.0em Verdana,Helvetica,Arial,sans-serif;
}

h5 {
	margin:0px;
	color:#dadbca;
	align: center;
	font: 0.9em Verdana,Helvetica,Arial,sans-serif;
}

td {
	padding:2px;
}

input[type="checkbox"] {
	width:20px;
	height:20px;
	margin:4px 0px 0px 0px;
	padding:0px;
}

div > * {
   vertical-align: middle;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	align: center;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0.1;
	height: 1.8em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em 1em 0.3em 1em;
	font:1.0emVerdana,Helvetica,Arial,sans-serif !important;
	width: 300px;
}

.variantBox .custom-combobox-input {
	width: 100px;
}

.typeBox .custom-combobox {
	margin: -1px 20px 0px 6px;
}

.typeBox .custom-combobox-input {
	width: 56px;
}

.ui-state-focus { outline: none; }

.ui-accordion .ui-accordion-content {padding: 0.5em 0.5em 1em 0.5em;
		   			   margin-bottom: 5px;
					   box-shadow:0px 0px 6px 1px rgba(0,0,0,0.3); }

.ui-accordion .ui-accordion-header { box-shadow:0px 0px 6px 1px rgba(0,0,0,0.3); margin-top: 5px; }

.ui-autocomplete .ui-menu-item {
	color: red;
	font:1em Verdana,Helvetica,Arial,sans-serif !important;
}

.textless-button .ui-button-text {
	padding: 16px 20px 6px 6px !important;
}

.rightIcon .ui-button-icon-primary { left: auto; right: 0.5em; }
.rightIcon .ui-button-text { padding-left: 1em; padding-right: 2.1em; }
