<div style='position:fixed; width:100%; left:0%; height:100%; background:linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.05));'>

<h3 style='text-align:left; margin:50px 0px 0px 20px; color:#FFF; width:200px; font-size: 1.2em'>Loading. Please wait...</h3>

</div>
