// sidebar
$sidebar-width: 365px;

// tree list
$tree-list-row-height: 26px !default;
$tree-list-icon-width: $tree-list-row-height !default;

// panels
$panel-padding-y: 10px;

// typography
$space-width: 0.285em;

// icons
$icon-fade-opacity: 0.25;

// colors
$panel-bg: darken($navbar-default-bg, 1.5%);
