.droplet {
  width: 30px;
  height: 30px;
  margin: 100px auto;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
