.txt-describe {
    color: $light-gray;
}

.spaced {
    margin: 20px 0 20px 0;
}

.has-error {
    border-color: #a94442;
}

.mid-align {
    text-align: center;
}

.one-half-x {
    font-size: 1.5em;
}

.twice-x {
    font-size: 2em;
}

.full-width {
    width: 100%;
}

.very-opaque {
    opacity: 0.3;
}

.flex-center {
    justify-content: center;
}

.with-cursor {
  cursor: pointer;
}
