# Vagrant files
.vagrant/
/.idea/

# npm files
node_modules/*
slyd/bower_components/*
slyd/tmp/*
npm-debug.log

# Local Settings
slyd/slyd/local_settings.py
slybot/slybot/local_slybot_settings.py

# Docs build directory
docs/_build
