{{displayedText}}
{{#if collapsible}}
    {{#if collapsed}}
        <span class="blue-label collapse-button"> [+] </span>
    {{else}}
        <span class="blue-label collapse-button"> [-] </span>
    {{/if}}
{{/if}}
