<div class="col-xs-10">
    {{#bs-button clicked="default" class="pattern" type="light" size="sm" draggable=true}}
        {{yield}}
    {{/bs-button}}
</div>
<div class="col-xs-1 button-align-med">
    {{bs-button clicked="delete" clickedParam=name icon="fa fa-icon fa-trash" type="danger" size="xs"}}
</div>