<div>
<<<<<<< HEAD
    {{text-area width='93%' splitlines=true clear=clear placeholder=placeholder action='sendText' update='updateText' resize='vertical' max_height='300px' value=value submitOnEnter=false}}
=======
    {{text-area width='93%' splitlines=true clear=clear placeholder=placeholder action='sendText' update='updateText' resize='vertical' max_height='300px' value=value}}
>>>>>>> Port App to Ember-Cli. Start Plugin System. Adds #133 and #136
</div>
<div style="margin-top:5px;text-align:center">
    {{#bs-button clicked='sendText' icon="fa fa-icon fa-plus" disabled=disabled type="primary"}}
        Add urls
    {{/bs-button}}
</div>