<div style="float:left;width:53%;">
    {{text-field width="160px" placeholder=placeholder action="save" update="updateText"}}
    <div class="small-label" style="margin:5px 0px 5px 0px">- or choose a type -</div>
    <div class="typeBox">{{item-select value=default options=options width="160px" changed="updateOption"}}</div>
</div>
<div style="float:left;width:40%;margin-top: 23px">
    {{#bs-button clicked="save" icon="fa fa-icon fa-plus" type="primary" size="sm"}}
        New extractor
    {{/bs-button}}
</div>