<div class="col-xs-10">
    {{text-field clear=clear width='110%' placeholder=placeholder action="sendText" update="updateText"}}
</div>
<div class="col-xs-2 button-align-sm">
    {{bs-button clicked="sendText" icon="fa fa-icon fa-plus" disabled=disabled type="primary" size="xs"}}
</div>
