<div id="toolbox" class="adjust-height">
    <div style="position:absolute;height:100%;z-index:10">
        <div class="container" style="height:100%;width:400px;">
            <div class="bar">
                <div style="position:absolute;left:8px;top:45%">
                    <div class="arrow-left">
                    </div>
                </div>
            </div>
            <span style="float:left;margin:0px 5px 0px -35px">
                {{pin-toolbox-button toolbox=this.control type="clear" icon="fa fa-icon fa-thumb-tack unpinned"}}
            </span>
            <div style="padding-top:10px;margin-left:40px;padding-right:2px">
                {{yield}}
            </div>
        </div>
    </div>
</div>
