<div id="topbar" class="navbar navbar-default">
    <div class="nav-container">
        {{bread-crumbs}}
    </div>
    {{yield}}
    <span class="pull-right label-align">
        {{bs-label type="danger" content="Beta"}}
    </span>
</div>
