<div id="topbar" class="navbar navbar-default">
    <div class="nav-container">
        {{bread-crumbs}}
    </div>
    {{yield}}
    {{component branding.component project=project data=branding.data}}
</div>