<div class="row">
    <div class="col-xs-8">
        {{text-field width="105%" placeholder=placeholder action="add" update="update" clear=true value=defaultValue}}
    </div>
    <div class="col-xs-2">
        {{#bs-button type="info" size="sm" clicked="add" icon="fa fa-icon fa-plus" disabled=noText}}
            {{yield}}
        {{/bs-button}}
    </div>
</div>