{{view.displayedText}}
{{#if view.collapsible}}
	{{#if view.collapsed}}
		<span class="blue-label collapse-button"> [+] </span>
	{{else}}
		<span class="blue-label collapse-button"> [-] </span>
	{{/if}}
{{/if}}
