<div style="margin:10px 0px 0px 10px">
	<h4>Items</h4>
	<div>
		<div class="scrolling-container" style="max-height:500px">
			{{#each model}}
				{{view ASTool.EditItemView item=this}}
		 	{{else}}
		 		<h4>No items have been defined yet.</h4>
		 	{{/each}}
		</div>
		<div style="text-align:center;margin-top:10px">
			{{#bs-button clicked="addItem" icon="fa fa-icon fa-plus" type="primary" small=true}}
				Item
			{{/bs-button}}
			{{#bs-button clicked="saveChanges" icon="fa fa-icon fa-save" type="primary" small=true}}
				Save changes
			{{/bs-button}}
			{{#bs-button clicked="undoChanges" icon="fa fa-icon fa-reply" type="danger" small=true}}
				Discard Changes
			{{/bs-button}}
		</div>
	</div>
</div>
