<div style="position:absolute;height:100%;width:100%;z-index:10">
	<div class="container" style="height:100%;width:400px;">
		<div class="bar">
			<div style="position:absolute;left:8px;top:45%">
				<img src="images/toolbox_show.png">
			</div>
		</div>
		<span style="float:left;margin:0px 5px 0px -32px">
			{{view ASTool.PinToolBoxButton action="editAnnotation" class="textless-button pin-button"}}
		</span>
		<div style="padding-top:10px;margin-left:40px;padding-right:2px">
			{{yield}}
		</div>	
	</div>
</div>
