<div style="margin:10px 0px 0px 10px">
	<div style="margin-top:10px"></div>
	<h4>Open project</h4>
	<div class="scrolling-container" style="max-height:600px">
		{{#each}}
			<div style="margin:4px 0px 4px 0px">
				{{view ASTool.ButtonView action="openProject" argument=this label=this minWidth='78%' class="light-button"}}
				{{view ASTool.ButtonView action="exportProject" argument=this icon="ui-icon-circle-arrow-n" class="blue-button"}}
				{{view ASTool.ButtonView action="deleteProject" argument=this icon="ui-icon-trash" class="red-button"}}
			</div>
		{{else}}
			<h5>No projects have been created yet.</h5>
		{{/each}}
	</div>
</div>