<div style="margin:10px 0px 0px 10px">
	<div style="margin-top:10px"></div>
	<h4>Open project</h4>
	<div class="scrolling-container" style="max-height:600px">
		{{#each}}
			<div class="row">
				<div class="col-md-9 clickable-url">
					{{#bs-button clicked="openProject" clickedParam=this type="light"}}
						{{this}}
					{{/bs-button}}
				</div>
				<div class="col-md-3">
					{{bs-button clicked="deleteProject" clickedParam=this icon="fa fa-icon fa-trash" type="danger"}}
				</div>
			</div>
		{{else}}
			<h5>No projects have been created yet.</h5>
		{{/each}}
	</div>
</div>