<div id="topbar">
	<div  class="nav-container">
		{{render "navigation"}}
	</div>
	<div style="float:left;margin-top:2px">
		<span style="margin-right:10px">Resolving <b>{{controller.currentFileName}}</b></span>
		{{view ASTool.ButtonView action="saveFile" argument=controller.currentFileName icon="ui-icon-circle-arrow-n" label="Save file" class="blue-button" disabled=controller.saveDisabled}}
	</div>
</div>
