<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>
	<div  class="nav-container">
		<div class="row">
			<div class="col-xs-8">
				{{view 'text-field' width="105%" value=spiderPage name='spiderPageTextField' placeholder='Enter page url' action="addSpider"}}
			</div>
			<div class="col-xs-2">
				{{#bs-button type="info" small=true clicked="addSpider" icon="fa fa-icon fa-plus" small=true disabled=createSpiderDisabled}}
					New Spider
				{{/bs-button}}
			</div>
		</div>
	</div>
	<span class="pull-right" style="margin-top: 6px;">
		{{bs-label content="Beta" type="danger"}}
	</span>
</div>
