<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>
	<div style="float:left;margin-top:2px" class="nav-container">
		<span style="margin-right:10px">Resolving <b>{{controller.currentFileName}}</b></span>
		{{#bs-button clicked="saveFile" clickedParam=controller.currentFileName icon="fa fa-icon fa-upload" type="primary" disabled=controller.saveDisabled}}
			Save File
		{{/bs-button}}
	</div>
	<span class="pull-right label-align">
		{{bs-label content="Beta" type="danger"}}
	</span>
</div>
