<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>
	<span class="pull-right" style="margin-top: 6px;">
		{{bs-label content="Beta" type="danger"}}
	</span>
</div>
