<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>
	<div class="nav-container">
		<span class="url">
			{{#view ASTool.LabelWithTooltip title=controller.url}}
				{{controller.url}}
			{{/view}}
		</span>
	</div>
	<div class="nav-container">
		<span>
			{{#if showContinueBrowsing}}
				{{#bs-button type="primary" small=true clicked="continueBrowsing"}}
					Continue Browsing
				{{/bs-button}}
			{{/if}}
			{{#if showToggleCSS}}
				{{#bs-button size="sm" clicked="toggleCSS" class="fa fa-icon fa-file-code-o togglecss"}}
					CSS
				{{/bs-button}}
			{{/if}}
		</span>
	</div>
	<span class="pull-right" style="margin-top: 6px;">
		{{bs-label content="Beta" type="danger"}}
	</span>
</div>
