<div id="topbar" class="navbar navbar-default">
	<div class="nav-container">
		{{render "navigation"}}
	</div>
	<div style="float:left;margin-top:2px" class="nav-container">
		<div class="row">
			{{#ifHasCapability 'create_projects'}}
				<div class="col-xs-8">
					{{view 'text-field' value=projectSite width='105%' name='projectSiteTextField' placeholder='Enter site url' action="createProject" id="projectSiteTextField"}}
				</div>
				<div class="col-xs-2">
					{{#bs-button type="info" small=true clicked="createProject" icon="fa fa-icon fa-plus" small=true disabled=createProjectDisabled}}
						Start
					{{/bs-button}}
				</div>
			{{/ifHasCapability}}
		</div>
	</div>
	<span class="pull-right label-align">
		{{bs-label content="Beta" type="danger"}}
	</span>
</div>
