html, body { height: 100% }

body{
	font: 12px "Helvetica, Arial", sans-serif;
	height: 100%;
	overflow: hidden;
	color: #111;
}

#scraped-doc {
	top: 30px;
	position:relative;
	margin-right: 30px;
}

#scraped-doc-iframe {
	background-color: clear;
	border-style: none;
	width: 100%;
	height: 50%;
	position:absolute;
}

#toolbox {
	overflow: hidden;
	margin-top:35px;
	float: right;
	width: 400px;
	margin-right: -365px;
	height: 100%;
	min-height: 200px;
	z-index: 100;
}

#toolbox .bar {
	margin:-10px 0px 0px 2px;
	width:36px;
	height:100%;
	float:left;
	background-color:#888;
	box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.7);
}

#topbar {
	width: 100%;
	height: 30px;
	z-index: 200;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1.0);
	background-color: white;
}

#topbar .url {
	color:#444;
	float:left;
	padding:4px;
	margin:1px 30px 0px 6px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#topbar .nav-container {
	float:left;
	text-align:left;
	width:30%
}

#title {
	margin: 10px 0px 10px 0px;
	padding: 2px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	background-image: -webkit-linear-gradient(top, #A81317 0%, #880910 100%);
	background-image: -moz-linear-gradient(top, #A81317 0%, #880910 100%);
}

#loader-container {
	position:absolute;
	top:350px;
	left:50%;
	z-index: 300;
}

#create-project-box {
	padding:2px 10px 14px 10px;
	margin:12px 6px 6px 6px;
}

#hovered-element-info {
	font: 1.0em Helvetica,Arial,sans-serif;
	color:white;
	padding: 8px;
	float: left;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.8);
	margin-right: 15px;
	display: none;
	pointer-events:all;
	max-width: 450px;
	border-radius: 3px;
}

#hovered-element-info .path {
	font-weight:bold;
	color:rgba(103,175,255,1);
}

#hovered-element-info .attribute {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#hovered-element-info button {
	float:right;
	margin: -3px -3px 0px 5px;
}

.editable-name {
	font: bold 1.0em Helvetica,Arial,sans-serif;
    cursor: pointer;
    color: #6F92BF;
}

.editable-name:hover {
	color: orange;
}

#toolbox .container {
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#toolbox .section {
	margin:10px 0px 10px 5px;
}

.scrolling-container {
	overflow: auto;
	max-height: 300px;
	margin-top: 10px;
}

.extracted-items-container {
	pointer-events: none;
	background-color:rgba(0,0,0,0.8);
	padding:10px;
	width:400px;
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,1.0);
	position:fixed;
	left:400px;top:30px;
}

.create-extractor-container {
	margin:10px 0px 0px 0px;
	border:solid 1px #DDD;
	height:68px;
	padding:8px;
	border-radius:5px;
}

.textfield {
	border-width: 1px;
	margin-top: 0px;
	border-style: solid;
	border-color: #AAA;
	text-align: center;
	color: #111;
	background-color: #FFF;
	padding: 4px;
}

.darktextfield {
	color: white;
	background-color: rgba(0,0,0,0.3);
	border-color: #999;
	border-radius: 3px;
}

.big {
	font-size: 1.1em !important;
}

.inline-textfield {
	border-style: solid;
	border-color: #AAA;
	text-align: center;
	padding: 4px;
	width: 84%;
	color: #111;
}

.doc-canvas {
	width: 100.1%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	z-index: 10;
}

.editable-item-container {
	border:dotted 1px #CCC;
	margin:10px 10px 1px 0px;
	padding:5px;
}

.drop-target .target {
	padding: 4px;
	color: #666;
}

.drop-target .target-container {
	margin:10px 5px 10px 0px;
	border:solid 1px #EEE;
	padding:5px
}

.drop-target-dragging .target {
	color: orange;
}

.extractor-view {
	width: 75%;
	background-color: #FFF;
	padding: 5px 10px 5px 10px;
	border-style: dotted;
	border-width: 1px;
	border-color: #AAA;
}

.regular_expression {
	color: orange;
}

.type_extractor {
	color: cyan;
}

.annotation-widget {
	margin:7px 5px 7px 0px;
	padding: 4px 0px 4px 4px;
	border: dotted 1px #CCC;
	border-radius: 5px;
	min-height: 24px;
}

.annotation-widget .multimap {
	display:inline-block;
	text-align:center;
	font-size:1.1em;
	border:dotted 1px #AAA;
	background-color:white;
	width: 110px !important;
}

.annotation-widget .attribute {
	width: 115px;
	margin: 2px 5px 0px 5px;
	
}

.annotation-widget .field {
	width: 115px;
	margin: 2px 5px 0px 0px;
}

.annotation-widget .variant-select {
	width: 60px;
	margin: 2px 0px 0px 0px;
}

.annotation-widget:hover {
	border-color: orange;
}

.annotation-widget:hover div.attribute-value {
    display: block;
}

.ignore-widget {
	margin:4px 0px 4px 0px;
	border:dotted 1px #CCC;
	width:250px;
	padding:4px;
	text-align:center;
	display:inline-block;
	border-radius: 5px;
}

.in-doc {
	color :white;
	padding: 6px 4px 10px 8px;
	position: fixed;
	z-index: 400;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.8);
	border-radius: 3px;
	border: none;
}

.in-doc .multimapf {
	display: block;
	border:solid 1px rgba(255,255,255,0.3);
	background-color:rgba(200,200,200,0.3);
	margin:2px;
	padding:3px;
	color:white;
	text-align:left;
}

.attribute-value {
	margin:4px;
	padding:4px;
	color:#555;
	display: block;
}

.attribute-field-mapping {
	margin:4px 5px 4px 0px;
	border:dotted 1px #CCC;
	padding:5px;
	background-color:#f4f4f4;
	border-radius: 5px;
}

.attribute-field-mapping .attribute-name {
	display:inline-block;
	color:rgba(103,175,255,1);
	font-weight: bold;
}

.attribute-field-mapping .attribute-val {
	display:inline-block;
	color:#999;
	margin-top:6px;
}

.important-label {
	color:#777;
	font: bold 1.1em Helvetica,Arial,sans-serif;
}

.small-label {
	color:#777;
	font: bold 1.0em Helvetica,Arial,sans-serif;
}

.red-label {
	color:red;
}

.blue-label {
	color:rgba(88,150,220,1);
}

.green-label {
	color:rgba(186,246,161,1);
}

.very-small-label {
	font-size: 0.7em;
	color: #AAA;
}

.inline-help {
	margin: 0px 4px 0px 4px;
}

.collapse-button {
	pointer-events:all;
	cursor:pointer;
	font-weight:bold;
	word-wrap:normal;
}

hr {
	background-color: #BBB;
	height: 1px;
	margin: 10px 0px 30px 0px;
	
	border-style: none;
	
	width:100%;
}

h3  {
	color:#111;
	align: center;
	font: 1em Helvetica,Arial,sans-serif;
}

h4 {
	margin:0px;
	color:#777;
	font: bold 1.1em Helvetica,Arial,sans-serif;
	display:inline-block;
}

h5 {
	margin:0px;
	color:#999;
	font: 1em Helvetica,Arial,sans-serif;
	display:inline-block;
}

td {
	padding:2px 4px 2px 4px;
}

div > * {
   vertical-align: middle;
}

a {
	color: #0062B9;
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
}

a:hover {
	color: orange;
	text-decoration: underline;
}

select {
	color: #333;
	height: 24px;
}

.ui-button {
	background: #999;
	border-color: #FFF;
	border-radius: 5px;
}

.ui-button:hover {
	background: #AAA;
}

.ui-button.black-button {
	background: #222;
	border-color: #222;
}

.ui-button.black-button:hover {
	background: #333;
	border-color: #333;
}

.ui-button.red-button {
	background: #9C5454;
	border-color: #9C5454;
}

.ui-button.red-button:hover {
	background: #FF0000;
	border-color: #FF0000;
}

.ui-button.blue-button {
	background: #0D6B9C;
	border-color: #0D6B9C;
}

.ui-button.blue-button:hover {
	background: #2295CE;
	border-color: #2295CE;
}

.ui-button.light-button {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0.2);
	border-style: dotted;
	color: #6F92BF;
}

.ui-button.light-button:hover {
	color: orange;
}

.ui-button.clear-button {
	background: rgba(0,0,0,0);
	border-style: none;
}

.ui-button.pin-button {
	background: #888;
	border-color: #888;
}

.ui-button.big {
	font-size:1.2em;
}

.ui-state-focus { outline: none; }

.ui-accordion .ui-accordion-content {
	padding: 0.5em 0.5em 1em 0.5em;
	margin-bottom: 5px;
}

.ui-accordion .ui-accordion-header {
	text-align: left;
	font:  1.2em Helvetica,Arial,sans-serif !important;
}

.textless-button .ui-button-text {
	padding: 14px 22px 8px 4px !important;
}

.fix_plus_icon .ui-icon {
	margin-left: -7px !important;
	margin-top: -7.5px !important;
}

.ui-button-icon-only {
	padding: 7px !important;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #333;
    border-radius: 4px;
    border-color: #BBB;
    border-width: #1px;
    font: normal 12px Helvetica,Arial,sans-serif;
    box-shadow: 0 0 7px black;
    z-index: 500;
    word-wrap:break-word;
  }
