<div style="position:relative;margin-right:400px;">
	<div style="width:100%;position:absolute;top:30px;z-index:1;font:12px 'Courier';overflow-y:auto" class="adjust-height conflicted-file">
		<div style="padding:10px">
			{{json-file-compare json=controller.currentFileContents conflictedKeyPaths=controller.conflictedKeyPaths conflictOptionSelected="conflictOptionSelected" conflictOptionRejected="conflictOptionRejected" conflictOptionUpdated="conflictOptionUpdated"}}
		</div>
	</div>
</div>
