<div style="margin:10px 0px 0px 10px">
	<h4>Conflicted files</h4>
	<div>
		{{#each name in conflictedFileNames}}
			<div style="margin:4px 0px 4px 0px" class="pattern">
				{{#bs-button clicked="displayConflictedFile" clickedParam=name type="light"}}
					{{name}}
				{{/bs-button}}
			</div>
		{{/each}}
	</div>
</div>
