<div id="scraped-doc">
    <iframe id="scraped-doc-iframe" src="/static/start.html" class="adjust-height"></iframe>
    <canvas id="infocanvas" class="doc-canvas adjust-height"></canvas>
    <div id="loader-container" class="adjust-height"></div>
    <div style="position:absolute;z-index:20;width:100%;pointer-events:none">
        <div id="hovered-element-info"></div>
    </div>
</div>
