<div id="scraped-doc">
	<iframe id="scraped-doc-iframe" src="start.html"></iframe>
	<canvas id="infocanvas" class="doc-canvas" style="z-index: 20"></canvas>
	<div id="loader-container"></div>
	<div style="position:absolute;z-index:1000;width:100%;pointer-events:none">
		<div id="hovered-element-info"></div>
	</div>
</div>
