<div id="toolbar">
	<div>
		{{partial "navigation"}}
	</div>
	<div style="position: relative;">
		{{animated-outlet name="main"}}
	</div>
</div>
{{view ASTool.AnnotatedDocumentView}}
{{outlet pageBrowser}}