<div id="toolbar">
	<div>
		{{view JQ.TabNavigator templateName="navigation"}}
	</div>
	<div style="position: relative;">
		{{animated-outlet name="main"}}
	</div>
</div>
{{view ASTool.AnnotatedDocumentView}}