<div id="toolbar">
	<div style='margin-top:10px; margin-bottom:10px'>
		{{view JQ.TabNavigator templateName="navigation"}}
	</div>
	<div id="toolbar-container" class="ui-corner-all">
		{{outlet}}
	</div>
</div>
{{view ASTool.AnnotatedDocumentView}}