<div id="toolbar">
	<div style='margin-top:10px; margin-bottom:10px'>
		{{view JQ.TabNavigator templateName="navigation"}}
	</div>
	<div style="position: relative;">
		{{animated-outlet name="main"}}
	</div>
</div>
{{view ASTool.AnnotatedDocumentView}}