<div id="topbar">
	<div style="float:left;text-align:left;width:400px">
		{{render "navigation"}}
	</div>
	<div style="float:left;margin-top:3px">
		<span style="color:#444;float:left;padding:4px;margin:1px 30px 0px 6px;width: 300px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
			{{#view ASTool.LabelWithTooltip title=controller.url}}
				{{controller.url}}
			{{/view}}
		</span>
		<span style="float:left;">
			{{#if showContinueBrowsing}}
				{{view ASTool.ButtonView action="continueBrowsing" label="Continue browsing" class="blue-button"}}
			{{/if}}
		</span>
	</div>
</div>
