<div id="topbar">
	<div style="float:left;text-align:left;width:400px">
		{{view ASTool.NavigationView}}
	</div>
	<div style="float:left;margin-top:3px">
		{{view ASTool.TextField value=projectSite width='320px' name='projectSiteTextField' placeholder='Enter site url' action="createProject"}}
		{{view ASTool.ButtonView action="createProject" icon="ui-icon-circle-plus" label="Start" class="blue-button"}}
	</div>
</div>
