<div class='browser-list-container'>
    <h3>Unfortunately your browser doesn't support some of the features required to give you a great experience with Portia.</h3>
    <p class='browser-p'>Please try using an up-to-date version of one of these browsers, which are known to work well with Portia.</p>

    {{browser-list browsers=model}}
</div>
