<div class="project-list-container">
    <img src="/assets/images/portia-logo.svg" alt="Portia logo">
    <div style="width: 20%; display: block;">
        <img src="/assets/images/yaoota-logo.png" alt="Yaoota logo" style="width: 100%; height: 100px;">
    </div>
    <h3>Hello! What would you like to work on today?</h3>
    {{#if model}}
        {{project-list projects=model}}
    {{/if}}
</div>
