<div class="project-list-container">
    <h3>What would you like to work on today?</h3>
    <p>Choose a project from the list below.</p>

    <div class="project-list list-group">
        {{#each model key='id' as |project|}}
            {{link-to project.name 'projects.project' project class="list-group-item"}}
        {{/each}}
    </div>
</div>
