{{#if editing}}
    {{select-box choices=choices value=(mut source) open=true dropdownAlign="right" change=(action 'endEditing') close=(action 'cancelEditing')}}
{{else}}
    <span {{action 'startEditing'}}>
        {{source}} <span class="caret"></span>
    </span>
{{/if}}
