<div class='browser-logos'>
    {{#each browsers as |browser|}}
        <a class='no-decoration' href='{{browser.href}}'>
            <img class="browser-logo" src={{browser.src}} alt={{browser.alt}}>
        </a>
    {{/each}}
</div>
