{{#structure-list-item icon='schema' add=true remove=true}}
    {{list-item-badge count=numItems}}
    <div class="structure-list-item-main">
        {{itemAnnotation.name}}
    </div>
    <div class="structure-list-item-content">
        {{itemAnnotation.item.schema.name}}
    </div>
{{/structure-list-item}}
