{{#link-to 'projects.project.spider.sample.annotation' annotation.sample.spider.project annotation.sample.spider annotation.sample annotation}}
    {{#structure-list-item icon=annotation.type hasDetails=true remove=(action 'removeAnnotation')}}
        {{list-item-badge count=annotation.elements.length color=annotation.color}}
        <div class="structure-list-item-main">
            {{annotation.name}}
        </div>
        <div class="structure-list-item-content">
            {{annotation.type}}
        </div>
    {{/structure-list-item}}
{{/link-to}}
