<span class="badge-container">
    <span class="badge" style="background-color: {{color.main}};">
        <span class="badge-centered">{{item.matches}}</span>
    </span>
</span>
{{item.name}} ({{item.type}})
