{{#structure-list-item icon='schema' add=true remove=(action 'removeItemAnnotation')}}
    {{list-item-badge count=numItems}}
    <div class="structure-list-item-main">
        {{editable-text source=(mut itemAnnotation.name)}}
    </div>
    <div class="structure-list-item-content">
        {{editable-text source=(mut itemAnnotation.item.schema.name)}}
    </div>
{{/structure-list-item}}
