<div class="overlay-box" style={{shadowStyle}}>
    <span class="overlay-icon" style={{textShadowStyle}}>
        {{icon-button icon=icon}}
    </span>
    <div class="overlay-box-background" style={{backgroundStyle}}></div>
</div>
