<div class="overlay-box" style={{shadowStyle}}>
    <i class="overlay-icon {{iconClasses}}" style={{textShadowStyle}}></i>
    <div class="overlay-box-background" style={{backgroundStyle}}></div>
</div>
