<div class="spaced">
    <p class="txt-describe">
        Enter a publicly available URL containing newline separated URLs
        <a href={{bitbucketUrl}} target="_blank">like this.</a>
    </p>
</div>

<div class="spaced">
    <label for="feedUrl">Feed URL</label>
    {{input
      type="text"
      id='feedUrl'
      class="form-control"
      value=(mut startUrl.url)
      focus-out="saveFeedUrl"
      placeholder='https://gist.github.com/user/gist_id'
    }}
</div>
