{{#tooltip-container tooltipFor="project-publish-button" text="Publish project" tooltipContainer='body'}}
    <button id="project-publish-button" {{action "publish"}}>
        <i class="fa fa-icon fa-upload"></i>
    </button>
{{/tooltip-container}}
{{#tooltip-container tooltipFor="project-discard-button" text="Discard changes" tooltipContainer='body'}}
    <button id="project-discard-button" {{action "discard"}}>
        <i class="fa fa-icon fa-history"></i>
    </button>
{{/tooltip-container}}