{{#tree-list-item as |options|}}
    <a {{action 'loadUrl'}}>
        {{list-item-icon icon='url'}}
        {{list-item-editable value=(mut viewUrl) editing=(mut urlAdded) spellcheck=false}}
        {{list-item-icon icon='remove' action=(action 'removeUrl') bubbles=false}}
    </a>
{{/tree-list-item}}
