<a {{action 'openPage'}}>
    {{list-item-icon icon='url'}}
    {{list-item-editable value=(mut url) change=(action 'saveStartUrl') spellcheck=false}}
    {{list-item-icon icon='remove' action=(action 'removeStartUrl')}}
</a>
