<span class="dropdown-toggle">
    {{yield}}
    <span class="caret" {{action 'toggleDropdown' bubbles=false}}></span>
</span>
<ul class="dropdown-menu" {{action 'closeDropdown'}}>
    {{#each projects key='id' as |project|}}
        <li>
            {{link-to project.name 'projects.project' project}}
        </li>
    {{/each}}
</ul>
