<a href {{action 'openPage'}}>
    {{#structure-list-item icon='url' remove=(action 'removeStartUrl')}}
        {{list-item-editable value=(mut url) change=(action 'saveStartUrl') spellcheck=false}}
    {{/structure-list-item}}
</a>
