{{#link-to 'projects.project.schema' item.project item}}
    {{#structure-list-item icon='schema' hasDetails=true remove=true}}
        <div class="structure-list-item-main">
            {{item.name}}
        </div>
    {{/structure-list-item}}
{{/link-to}}
