{{#link-to 'projects.project.spider.sample' item.spider.project item.spider item}}
    {{#structure-list-item icon='sample' hasDetails=true remove=(action 'removeSample')}}
        <div class="structure-list-item-main">
            {{item.name}}
        </div>
    {{/structure-list-item}}
{{/link-to}}
