{{#each items key=listKey as |item|}}
    {{#tree-list-item item=item as |collapsed renderChildren toggleCollapsed|}}
        <div class="tree-list-item-row">
            {{#if item.children.length}}
                <a class="tree-list-collapse" {{action toggleCollapsed}}>
                    <span class="caret"></span>
                </a>
            {{else}}
                <span class="tree-list-collapse tree-list-no-children"></span>
            {{/if}}
            <div class="tree-list-item-content">
                {{yield item}}
            </div>
        </div>
        {{#if renderChildren}}
            {{#tree-list items=item.children collapsed=collapsed listKey=listKey as |child|}}
                {{yield child}}
            {{/tree-list}}
        {{/if}}
    {{/tree-list-item}}
{{/each}}
