<div class="text-center conflicts-text">
    <h1>Aw, Snap!</h1>

    <h3>Portia couldn't deploy the project because there are conflicts with another user's changes</h3>
    <p>Resolve the conflicts manually by selecting the conflicting files from the left panel to deploy the project.</p>
</div>

