.jobq-message {
    color: white;
    background-color: $brand-danger;
    margin: 5px 0 0 10px;
    padding: 0 10px;
    font-size: 0.9em;
    height: 20px;
    line-height: 20px;
    text-transform: none;
}
