<div class="nav-container">
	<span class="url">
		{{#label-with-tooltip title=controller.url}}
			{{controller.url}}
		{{/label-with-tooltip}}
	</span>
</div>
<div class="nav-container">
	<span>
		{{#if showContinueBrowsing}}
			{{#bs-button type="primary" size="sm" clicked="continueBrowsing"}}
				Continue Browsing
			{{/bs-button}}
		{{/if}}
		{{#if showToggleCSS}}
			{{#bs-button size="sm" clicked="toggleCSS" icon="fa fa-icon fa-file-code-o" activeType="danger"}}
				CSS
			{{/bs-button}}
		{{/if}}
	</span>
</div>
