<div class="nav-container">
	<span class="url">
		{{#label-with-tooltip title=model.url}}
			{{model.url}}
		{{/label-with-tooltip}}
	</span>
</div>
<div class="nav-container">
	<span>
		{{#if showContinueBrowsing}}
			{{#bs-button type="primary" size="sm" clicked="continueBrowsing"}}
				Save Template
			{{/bs-button}}
		{{/if}}
		{{#if showDiscardButton}}
			{{#bs-button type="danger" size="sm" clicked="discardChanges"}}
				Discard Changes
			{{/bs-button}}
		{{/if}}
		{{#if showToggleCSS}}
			{{#bs-button clicked="toggleCSS" icon="fa fa-icon fa-file-code-o" activeType="danger" size="sm" title="Toggle CSS"}}
				CSS
			{{/bs-button}}
		{{/if}}
	</span>
</div>
