# Slyd requirements
twisted==17.9.0
pyOpenSSL==17.3.0
service_identity==17.0.0
requests==2.18.4
autobahn==17.9.3
six==1.11.0
chardet==3.0.4
parse==1.8.2
ndg-httpsclient==0.4.3
retrying==1.3.3
mock==2.0.0

# Splash dev
--allow-external=splash
https://github.com/scrapinghub/splash/archive/2.3.x.tar.gz
