--allow-external mysql-connector-python
twisted
scrapy>=0.24
loginform
lxml
jsonschema
rfc3987
requests
-e git://github.com/scrapinghub/dulwich.git@mysql#egg=dulwich
-e git://github.com/scrapy/scrapely.git#egg=scrapely
-e git://github.com/scrapinghub/tx-keystone-auth.git#egg=txKeystoneAuth
-e ../slybot
