# Slyd requirements
twisted==16.1.1
service_identity==16.0.0
requests==2.9.1
autobahn==0.16.0
six==1.10.0
chardet==2.3.0
parse==1.6.6
ndg-httpsclient==0.4.0
retrying==1.3.3
mock==2.0.0

# Splash dev
--allow-external=splash
https://github.com/scrapinghub/splash/archive/2.3.x.tar.gz
