#window {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    > section {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

main {
    order: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
