.browser-list-container {
    @extend .full-page-content;

    margin: 0 auto;
    text-align: center;
}

.browser-logos {
    max-height: 120px;
}

.browser-logo {
    width: 13%;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s;
    &:hover {
        transform: translateY(-8px);
    }
}

.no-decoration {
    &:focus, &:hover {
        text-decoration: none;
    }
}
