.project-list-container {
    @extend .full-page-content;

    width: calc(100% - #{$sidebar-width * 2});
    margin: 0 auto;
    text-align: center;

    h3 {
        margin: 2em auto 0;
    }

    p {
        margin: 1em auto 0;
    }
}

.project-list {
    margin: 3em auto 0;
    max-width: 300px;
}
