$project-list-max-width: 300px;
.project-list-container {
    @extend .full-page-content;

    width: calc(100% - #{$sidebar-width * 2});
    margin: 0 auto;
    text-align: center;
    > * {
        width: 100%;
    }
}

.project-list {
    margin: 3em auto 0;
    max-width: $project-list-max-width;
    min-height: 0;

    input {
        border-color: $list-group-border;
    }

    .input-group {
        > .form-control {
            width: $project-list-max-width;
            border-radius: $list-group-border-radius $list-group-border-radius 0 0;
        }
    }

    &.empty {
        .form-control {
            border-radius: $list-group-border-radius;
        }
    }

    &.show-search {
        > .list-group-item {
            &:first-of-type {
                border-top: none;
            }
        }
    }
}

.project-create-input {
    width: $project-list-max-width;
}
