.input-list-item {
    $tree-list-caret-padding-y: ($tree-list-row-height - $line-height-computed) / 2;
    height: $tree-list-row-height;
    padding: ($padding-base-vertical - $tree-list-caret-padding-y) $padding-base-horizontal;
}
