django==1.10.1
djangorestframework==3.4.1
dj-database-url==0.4.1
drf-nested-routers==0.11.1
dulwich==0.14.1
marshmallow==2.8.0
marshmallow_jsonapi==0.8.0
MySQL-python==1.2.5
requests==2.9.1
toposort==1.4
whitenoise==3.2
hubstorage==0.23.1