crochet==1.9.0
django>=1.11.21
django-cache-machine==1.0.0
djangorestframework==3.7.7
dj-database-url==0.5.0
drf-nested-routers==0.11.1
dulwich==0.18.6
marshmallow==2.8.0
marshmallow_jsonapi==0.10.0
mysqlclient==1.3.12
requests>=2.20.0
toposort==1.5
whitenoise==3.3.1
portia2code==0.0.17
shub==2.7.0
