Source: python-slybot
Section: python
Priority: extra
Maintainer: Scrapinghub Team <info@scrapinghub.com>
Build-Depends: debhelper (>= 7), python (>=2.7)
Standards-Version: 3.8.3
Homepage: https://github.com/scrapinghub/portia

Package: python-slybot
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 scrapy (>= 1.0.3.post6),
 python-scrapely,
 python-loginform,
 python-lxml,
 python-dateparser,
 python-scrapy-splash,
 python-page-finder
Description: A web crawler implemented in Python.
 Slybot is a Python web crawler for doing web scraping. It's implemented on top
 of the Scrapy web crawling framework and the Scrapely extraction library.
